In [ ]:
import pymysql
import pandas as pd
import sqlalchemy
from sqlalchemy import text
import socket

In [ ]:
user = 'root'
password = 'razith10113a'
host = 'localhost'
port = 3306
database = 'dt4'
connection = sqlalchemy.create_engine("mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(user, password, host, port, database))

In [ ]:
sql = text('CREATE TABLE Data_Aggregated_Transaction_Table1 (MyIndex INT NOT NULL AUTO_INCREMENT,Payment_Mode VARCHAR(50),Total_Transactions_count BIGINT,Total_Amount BIGINT,Quater INT,Year INT,State INT,PRIMARY KEY (MyIndex))')
connection.execute(sql)
sql = text("use dt4")
connection.execute(sql)
df = pd.read_csv("E:\GUVI\phonepe\Data_Aggregated_Transaction_Table1.csv")
df.to_sql('data_aggregated_transaction_table1',con=connection, if_exists= "replace",index=False, chunksize=10000)

In [ ]:
sql = text('CREATE TABLE Data_Map_Districts_Longitude_Latitude2 (MyIndex INT NOT NULL AUTO_INCREMENT,State VARCHAR(50),District VARCHAR(50),Latitude BIGINT, Longitude BIGINT,PRIMARY KEY (MyIndex))')
connection.execute(sql)
df = pd.read_csv("E:\GUVI\phonepe\Data_Map_Districts_Longitude_Latitude2.csv")
df.to_sql('data_map_districts_longitude_latitude2',con=connection, if_exists= "replace",index=False, chunksize=10000)

In [ ]:
sql = text('CREATE TABLE Longitude_Latitude_State_Table3 (MyIndex INT NOT NULL AUTO_INCREMENT,code VARCHAR(50),Latitude BIGINT, Longitude BIGINT, state VARCHAR(50),PRIMARY KEY (MyIndex))')
connection.execute(sql)
df = pd.read_csv("E:\GUVI\phonepe\Longitude_Latitude_State_Table3.csv")
df.to_sql('longitude_latitude_state_table3',con=connection, if_exists= "replace",index=False, chunksize=10000)

In [ ]:
sql = text('CREATE TABLE Data_Map_Transaction4 (MyIndex INT NOT NULL AUTO_INCREMENT,District VARCHAR(50),Total_Transactions_count BIGINT,Total_Amount BIGINT,Quarter INT,Year INT,State INT,PRIMARY KEY (MyIndex))')
connection.execute(sql)
df = pd.read_csv("E:\GUVI\phonepe\Data_Map_Transaction4.csv")
df.to_sql('data_map_transaction4',con=connection, if_exists= "replace",index=False, chunksize=10000)

In [ ]:
sql = text('CREATE TABLE Data_Map_User_Table5 (MyIndex INT NOT NULL AUTO_INCREMENT,District VARCHAR(50),Registered_user BIGINT,App_Openings BIGINT,Quarter INT,Year INT,State INT,PRIMARY KEY (MyIndex))')
connection.execute(sql)
df = pd.read_csv("E:\GUVI\phonepe\Data_Map_User_Table5.csv")
df.to_sql('data_map_user_table5',con=connection, if_exists= "replace",index=False, chunksize=10000)

In [ ]:
sql = text('CREATE TABLE Data_Aggregated_User_Table6 (MyIndex INT NOT NULL AUTO_INCREMENT,Brand_Name VARCHAR(50),Registered_Users_Count BIGINT,Percentage_Share_of_Brand BIGINT,Quarter INT,Year INT,State INT,PRIMARY KEY (MyIndex))')
connection.execute(sql)
df = pd.read_csv("E:\GUVI\phonepe\Data_Aggregated_User_Table6.csv")
df.to_sql('data_aggregated_user_table6',con=connection, if_exists= "replace",index=False, chunksize=10000)